spring:
  application:
    name: tavvi

# Auth 정보 불러오기
  config:
    import: "classpath:./auth.yaml"

  # DB
  datasource:
    # HikariCP (커넥션 풀)
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      max-lifetime: 1800000

  # JPA / Hibernate
  jpa:
    hibernate:
      ddl-auto: create   # dev: update, prod: validate 권장
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        jdbc:
          batch_size: 50
        order_inserts: true
        order_updates: true

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace